<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="EasyAdm.My.MySettings.Setting" connectionString="Data Source=134.140.160.206\EasyAdm,58987;Initial Catalog=EasyAdm;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>